<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INFURA_KEY</key>
	<string>$(INFURA_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>AWS_ACCESS_KEY_ID</key>
	<string>$(AWS_ACCESS_KEY_ID)</string>
	<key>AWS_SECRET_ACCESS_KEY_ID</key>
	<string>$(AWS_SECRET_ACCESS_KEY_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wc</string>
		<string>metamask</string>
	</array>
</dict>
</plist>
